body, html {
    height: 100%;
}

#main-contact {
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: auto;
    background-image: url("../Images/background-pc-2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: center;
}

